.summaryContainer {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
}

.iconContainer {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    margin: 20px 0 0 20px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #CFCFCF;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.summaryContainer h2,
.summaryContainer h1 {
    margin: 0 0 0 20px;
}

.summaryContainer h1 {
    font-weight: 500;
    font-size: 24px;
    margin: 5px 0 20px 20px;
}

.summaryContainer h2 {
    margin: auto 0 0 20px;
    font-weight: 300;
    font-size: 18px;
}

.summaryContainer .rowContainer1 {
    border-radius: 20px 0 0 20px;
}

.summaryContainer .rowContainer4 {
    border-radius: 0 20px 20px 0;
}

.summaryContainer .rowContainer1,
.summaryContainer .rowContainer2,
.summaryContainer .rowContainer3,
.summaryContainer .rowContainer4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    transition: ease box-shadow 0.2s;
}

.summaryContainer .rowContainer1,
.summaryContainer .rowContainer2,
.summaryContainer .rowContainer3 {
    border-right: 1px solid #CFCFCF;  
}

.summaryContainer .rowContainer1:hover,
.summaryContainer .rowContainer2:hover,
.summaryContainer .rowContainer3:hover,
.summaryContainer .rowContainer4:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1000px) {
    .summaryContainer .rowContainer4 {
        display: none;
    }
}

@media (max-width: 800px) {
    .summaryContainer .rowContainer3 {
        display: none;
    }
}