.transcationsContainer {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}

.transcationsTableWrapper {
  flex: 1;
  overflow-y: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
  color: #555;
  margin-top: 20px;
  overflow: scroll;
}

.tableHeader {
  background: #F6F8FA;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

th {
  font-weight: 500;
}

td button {
  width: 200px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #4294FF;
  color: white;
  cursor: pointer;
}

td {
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
}

tr:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

tr {
    transition: ease box-shadow 0.2s;
}

.transcationsInnerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transcationsInnerContainer h1 {
  font-weight: 400;
  font-size: 22px;
  color: #444;
  margin-bottom: 20px; 
}

@media (max-width: 1000px) {
  .transcationIdContainer {
    display: none;
  }

}