.transcationsContainer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.transcationsInnerContainer {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.transcationsInnerContainer h1 {
  font-weight: 400;
  font-size: 22px;
  color: #444;
  margin: 10px 0;
}


.transcationsTableWrapper {
  flex: 1;
  overflow-y: auto; 
}

.transcationsTableWrapper table {
  width: 100%;
  border-collapse: separate;     
  border-spacing: 0 10px;       
  text-align: left;
  font-size: 14px;
  color: #555;
  margin: 0;
}

.transcationsTableWrapper .tableHeader{
  position: sticky;
  top: 10px;
  z-index: 1;
  background: #F6F8FA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  text-align: left;
  height: 50px;
}

.transcationsTableWrapper .tableHeader::before{
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: #ffffff; 
}

.cellWithImage {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage,
.productImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.transcationsTableWrapper th {
  font-weight: 500;
}



.transcationsTableWrapper td {
  border-bottom: 1px solid #d3d3d3;
  transition: transform 220ms cubic-bezier(.21,1.02,.73,1),
              box-shadow 220ms cubic-bezier(.21,1.02,.73,1);
}

.transcationsTableWrapper tr {
  height: 80px;
}

.transcationsTableWrapper table {
  border-collapse: separate;      
  border-spacing: 0 10px;        
}

.transcationsTableWrapper tbody tr:hover {
  box-shadow:
    0 2px 4px rgba(0,0,0,0.015),
    0 6px 12px rgba(0,0,0,0.03),
    0 12px 24px rgba(0,0,0,0.02);
}

.transcationsTableWrapper p {
    margin: 0;
}





@media (max-width: 1000px) {
  .transcationIdContainer {
    display: none;
  }

}