.mainContainer {
  width: 100%;
  min-height: 100vh;        
  display: flex;
  background-color: #F6F8FA;
  flex-direction: column;
  align-items: center;
}

.innerContainer {
  margin-top: 200px;
  width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.authenticationContainer {
  width: 700px;
  height: 800px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0 0 20px;
}

.innerAuthContainer {
  width: 80%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer h1 {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  margin: 0 0 10px 0
}

.headerContainer p {
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  margin: 10px 0 20px 0;
}

.authenticationContainer img {
  margin-bottom: 40px;
  width: 250px;
}

form {
  display: flex;
  width: 100%;
}

form a {
  margin-top: 20px;
}

form button {
  width: 100%;
  height: 45px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #4294FF;
  color: white;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: 500;
}

input {
  width: 100%;
  height: 45px;
}

.bannerContainer {
  width: 600px;
  height: 800px;
}

.bannerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.footerContainer button {
  width: 100%;
  height: 45px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #ffffff;
  color: rgb(46, 46, 46);
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  font-weight: 500;
}

.footerContainer button img {
  margin: 0;
  width: 32px;
}

.footerContainer .createAccntText {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1700px) {
  .authenticationContainer {
    width: 600px;
  }

  .bannerContainer {
    width: 500px;
  }
}

@media (max-width: 1500px) {
  .authenticationContainer {
    width: 700px;
    padding: 80px 0;
    border-radius: 20px;
  }
  .bannerContainer {
    display: none;
  }
}

@media (max-width: 1200px) {
  .authenticationContainer {
    width: 600px;
    padding: 40px 0;
    border-radius: 20px;
  }
}

@media (max-width: 1000px) {
  .authenticationContainer {
    width: 400px;
    padding: 20px 0;
    border-radius: 20px;
  }
}

